apiVersion: v1
kind: ConfigMap
metadata:
  name: providers-credentials-config
data:
  AWS_DEFAULT_REGION: nada
  AWS_ACCESS_KEY_ID: nada
  AWS_SECRET_ACCESS_KEY: nada
  AWS_ACCOUNT: "nada"
  DO_ACCESS_TOKEN: nada
  K8S_CLUSTER_NAME: nada
  AWS_DEFAULT_MAIL: nada@email.com
